In [ ]:
import pandas as pd

1. Создайте датафрейм с следующими данными:

In [ ]:
df = pd.DataFrame({'Name': ['Strom, Mrs. Wilhelm (Elna Matilda Persson)',
                            'Navratil, Mr. Michel ("Louis M Hoffman")', 'Minahan, Miss. Daisy E'],
                            'Age': [29,5, 33],'Sex':['female','male','female']})
df = df.rename(columns=str.lower)
df

                                         name  age     sex
0  Strom, Mrs. Wilhelm (Elna Matilda Persson)   29  female
1    Navratil, Mr. Michel ("Louis M Hoffman")    5    male
2                      Minahan, Miss. Daisy E   33  female

2. Загрузите данные из файла:
https://drive.google.com/file/d/16gikf9vvMLyldkdHtoDYrPDbqTHP1BxG/view?usp=share_link

In [ ]:
data2=pd.read_csv('titanic_csv.csv', sep=';')
data2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,454,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C
1,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
2,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
3,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
4,444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
489,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
490,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
491,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
492,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
493,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q

3. Загрузите напрямую данные по ссылке:
https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt (read_csv).

In [ ]:
data1=pd.read_csv('https://gist.githubusercontent.com/zaryanezrya/8b4ef51c707cb16d5e88a44dc00a1bb2/raw/41230f49c6268e072dbf102672f670be256922ab/gistfile1.txt',sep=',')
data1

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
1,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,NaN,S
2,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C
3,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
4,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
495,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
496,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
497,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
498,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
499,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S

4. Объедините датафреймы из п. 2, 3 в один датафрейм, удалите дубликаты
строк.

In [ ]:
# уберем большие буквы, заменив их на маленькие в столбцах
data1=data1.rename(columns=str.lower)
data2=data2.rename(columns=str.lower)

In [ ]:
# объединим в один датафрейм
data=pd.concat([data1,data2])
data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
1,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,NaN,S
2,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C
3,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
4,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
489,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
490,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
491,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
492,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
493,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q

In [ ]:
# уберем дубликаты
data=data.drop_duplicates()
data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
1,689,0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,NaN,S
2,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C
3,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
4,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
489,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
490,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
491,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
492,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
493,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q

5. Задайте в качестве индекса датафрейма id пассажира. Отсортируйте по
индексу (sort_values).

In [ ]:
data=data.set_index('passengerid') # делаем passengerid не столбцом, а индексом
data.sort_values(by=['passengerid']) # сортируем по возрастанию

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

6. Отобразите информацию и базовую статистику по датафрейму (info, describe)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 552 to 33
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   name      891 non-null    object
 3   sex       891 non-null    object
 4   age       714 non-null    float64
 5   sibsp     891 non-null    int64
 6   parch     891 non-null    int64
 7   ticket    891 non-null    object
 8   fare      891 non-null    float64
 9   cabin     204 non-null    object
 10  embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

7. Поменяйте местами нулевую по порядку строку с элементом с индексом 2 (loc,
iloc).

In [ ]:
tmp=data.iloc[0]
data.iloc[0]=data.loc[2]
data.loc[2]=tmp
data.iloc[0]

survived                                                    1
pclass                                                      1
name        Cumings, Mrs. John Bradley (Florence Briggs Th...
sex                                                    female
age                                                      38.0
sibsp                                                       1
parch                                                       0
ticket                                               PC 17599
fare                                                  71.2833
cabin                                                     C85
embarked                                                    C
Name: 552, dtype: object

8. В столбце Sex замените female/male на f/m (map).

In [ ]:
data['sex'] = data['sex'].replace({'female': 'f', 'male': 'm'})
data

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
552,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",f,38.0,1,0,PC 17599,71.2833,C85,C
689,0,3,"Fischer, Mr. Eberhard Thelander",m,18.0,0,0,350036,7.7958,NaN,S
605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",m,35.0,0,0,111426,26.5500,NaN,C
305,0,3,"Williams, Mr. Howard Hugh ""Harry""",m,NaN,0,0,A/5 2466,8.0500,NaN,S
290,1,3,"Connolly, Miss. Kate",f,22.0,0,0,370373,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...
363,0,3,"Barbara, Mrs. (Catherine David)",f,45.0,0,1,2691,14.4542,NaN,C
447,1,2,"Mellinger, Miss. Madeleine Violet",f,13.0,0,1,250644,19.5000,NaN,S
95,0,3,"Coxon, Mr. Daniel",m,59.0,0,0,364500,7.2500,NaN,S
59,1,2,"West, Miss. Constance Mirium",f,5.0,1,2,C.A. 34651,27.7500,NaN,S
33,1,3,"Glynn, Miss. Mary Agatha",f,NaN,0,0,335677,7.7500,NaN,Q

9. Найдите билеты по которым плыло 6 и более человек, отобразите список людей
(groupby, count).

In [ ]:
df_check = data.groupby('ticket')['name'].count() # в датафрейм поместим все номера билетов и количество людей, которые числятся за этими билетами
tickets=df_check[df_check>=6] # возьмем только те билеты, где количество людей >= 6
tickets

ticket
1601        7
3101295     6
347082      7
347088      6
CA 2144     6
CA. 2343    7
Name: name, dtype: int64

In [ ]:
data[data['ticket'].isin(tickets.index)] #фильтруем датафрейм и оставляем только строки с номерами билетов, которые есть в tickets

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
60,0,3,"Goodwin, Master. William Frederick",m,11.0,5,2,CA 2144,46.9000,NaN,S
611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",f,39.0,1,5,347082,31.2750,NaN,S
325,0,3,"Sage, Mr. George John Jr",m,NaN,8,2,CA. 2343,69.5500,NaN,S
181,0,3,"Sage, Miss. Constance Gladys",f,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",f,NaN,8,2,CA. 2343,69.5500,NaN,S
825,0,3,"Panula, Master. Urho Abraham",m,2.0,4,1,3101295,39.6875,NaN,S
814,0,3,"Andersson, Miss. Ebba Iris Alfrida",f,6.0,4,2,347082,31.2750,NaN,S
51,0,3,"Panula, Master. Juha Niilo",m,7.0,4,1,3101295,39.6875,NaN,S
827,0,3,"Lam, Mr. Len",m,NaN,0,0,1601,56.4958,NaN,S
165,0,3,"Panula, Master. Eino Viljami",m,1.0,4,1,3101295,39.6875,NaN,S
635,0,3,"Skoog, Miss. Mabel",f,9.0,3,2,347088,27.9000,NaN,S
202,0,3,"Sage, Mr. Frederick",m,NaN,8,2,CA. 2343,69.5500,NaN,S
64,0,3,"Skoog, Master. Harald",m,4.0,3,2,347088,27.9000,NaN,S
684,0,3,"Goodwin, Mr. Charles Edward",m,14.0,5,2,CA 2144,46.9000,NaN,S
687,0,3,"Panula, Mr. Jaako Arnold",m,14.0,4,1,3101295,39.6875,NaN,S
267,0,3,"Panula, Mr. Ernesti Arvid",m,16.0,4,1,3101295,39.6875,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",m,39.0,1,5,347082,31.2750,NaN,S
693,1,3,"Lam, Mr. Ali",m,NaN,0,0,1601,56.4958,NaN,S
361,0,3,"Skoog, Mr. Wilhelm",m,40.0,1,4,347088,27.9000,NaN,S
643,0,3,"Skoog, Miss. Margit Elizabeth",f,2.0,3,2,347088,27.9000,NaN,S
510,1,3,"Lang, Mr. Fang",m,26.0,0,0,1601,56.4958,NaN,S
851,0,3,"Andersson, Master. Sigvard Harald Elias",m,4.0,4,2,347082,31.2750,NaN,S
160,0,3,"Sage, Master. Thomas Henry",m,NaN,8,2,CA. 2343,69.5500,NaN,S
820,0,3,"Skoog, Master. Karl Thorsten",m,10.0,3,2,347088,27.9000,NaN,S
168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",f,45.0,1,4,347088,27.9000,NaN,S
481,0,3,"Goodwin, Master. Harold Victor",m,9.0,5,2,CA 2144,46.9000,NaN,S
847,0,3,"Sage, Mr. Douglas Bullen",m,NaN,8,2,CA. 2343,69.5500,NaN,S
543,0,3,"Andersson, Miss. Sigrid Elisabeth",f,11.0,4,2,347082,31.2750,NaN,S
72,0,3,"Goodwin, Miss. Lillian Amy",f,16.0,5,2,CA 2144,46.9000,NaN,S
679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",f,43.0,1,6,CA 2144,46.9000,NaN,S
793,0,3,"Sage, Miss. Stella Anna",f,NaN,8,2,CA. 2343,69.5500,NaN,S
170,0,3,"Ling, Mr. Lee",m,28.0,0,0,1601,56.4958,NaN,S
75,1,3,"Bing, Mr. Lee",m,32.0,0,0,1601,56.4958,NaN,S
644,1,3,"Foo, Mr. Choong",m,NaN,0,0,1601,56.4958,NaN,S
120,0,3,"Andersson, Miss. Ellis Anna Maria",f,2.0,4,2,347082,31.2750,NaN,S
387,0,3,"Goodwin, Master. Sidney Leonard",m,1.0,5,2,CA 2144,46.9000,NaN,S
542,0,3,"Andersson, Miss. Ingeborg Constanzia",f,9.0,4,2,347082,31.2750,NaN,S
839,1,3,"Chip, Mr. Chang",m,32.0,0,0,1601,56.4958,NaN,S
639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",f,41.0,0,5,3101295,39.6875,NaN,S

10.Найдите людей, которые плыли в одной каюте с людьми из датафрейма из п1.

In [ ]:
peoples=data[data['name'].isin(df['name'])] #создаем датафрейм together, который будет содержать только те строки, где значения в data['name' ]
                                            #будут совпадать со значениями, которые есть в df['name']
peoples                                     #т.е. мы находим людей из первого df в основном датафрейме.

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",m,36.5,0,2,230080,26.0000,F2,S
252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",f,29.0,1,1,347054,10.4625,G6,S
413,1,1,"Minahan, Miss. Daisy E",f,33.0,1,0,19928,90.0000,C78,Q

In [ ]:
together = data[data['cabin'].isin(peoples['cabin'])] #создаем DF together, в котором будут только те строки, у которых совпадают 'cabin'
together

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,,
194,1,2,"Navratil, Master. Michel M",m,3.0,1,1,230080,26.0000,F2,S
206,0,3,"Strom, Miss. Telma Matilda",f,2.0,0,1,347054,10.4625,G6,S
149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",m,36.5,0,2,230080,26.0000,F2,S
246,0,1,"Minahan, Dr. William Edward",m,44.0,2,0,19928,90.0000,C78,Q
395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",f,24.0,0,2,PP 9549,16.7000,G6,S
252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",f,29.0,1,1,347054,10.4625,G6,S
341,1,2,"Navratil, Master. Edmond Roger",m,2.0,1,1,230080,26.0000,F2,S
11,1,3,"Sandstrom, Miss. Marguerite Rut",f,4.0,1,1,PP 9549,16.7000,G6,S
413,1,1,"Minahan, Miss. Daisy E",f,33.0,1,0,19928,90.0000,C78,Q

11.Добавьте колонку “BirthYear” с годом рождения каждого пассажира.

Трагедия произошла в 1912 году. Эта информация потребуется, чтобы правильно отобразить год рождения.

In [ ]:
data['birthyear'] = 1912-data['age']
data

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,birthyear
passengerid,,,,,,,,,,,,
552,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",f,38.0,1,0,PC 17599,71.2833,C85,C,1874.0
689,0,3,"Fischer, Mr. Eberhard Thelander",m,18.0,0,0,350036,7.7958,NaN,S,1894.0
605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",m,35.0,0,0,111426,26.5500,NaN,C,1877.0
305,0,3,"Williams, Mr. Howard Hugh ""Harry""",m,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN
290,1,3,"Connolly, Miss. Kate",f,22.0,0,0,370373,7.7500,NaN,Q,1890.0
...,...,...,...,...,...,...,...,...,...,...,...,...
363,0,3,"Barbara, Mrs. (Catherine David)",f,45.0,0,1,2691,14.4542,NaN,C,1867.0
447,1,2,"Mellinger, Miss. Madeleine Violet",f,13.0,0,1,250644,19.5000,NaN,S,1899.0
95,0,3,"Coxon, Mr. Daniel",m,59.0,0,0,364500,7.2500,NaN,S,1853.0
59,1,2,"West, Miss. Constance Mirium",f,5.0,1,2,C.A. 34651,27.7500,NaN,S,1907.0
33,1,3,"Glynn, Miss. Mary Agatha",f,NaN,0,0,335677,7.7500,NaN,Q,NaN

12.Добавьте колонку “Companion” с количеством попутчиков в одной каюте с этим
пассажиром.

In [ ]:
#сперва сделаем датафрейм, который будет содержать в себе кабины и количество людей, которые были в них
cabins = data.groupby('cabin')['name'].count() #сгруппируем по cabin и выведем количество людей, которые были в них
cabins

cabin
A10    1
A14    1
A16    1
A19    1
A20    1
      ..
F33    3
F38    1
F4     2
G6     4
T      1
Name: name, Length: 147, dtype: int64

In [ ]:
#создаем столбец companion
data['companion'] = data['cabin'].map(cabins) #берем информацию о кабине из cabins, и в companion присваиваем количество людей в этой кабине
data.sort_index()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,birthyear,companion
passengerid,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",m,22.0,1,0,A/5 21171,7.250,NaN,S,1890.0,NaN
2,0,2,"Sharp, Mr. Percival James R",m,27.0,0,0,244358,26.000,NaN,S,1885.0,NaN
3,1,3,"Heikkinen, Miss. Laina",f,26.0,0,0,STON/O2. 3101282,7.925,NaN,S,1886.0,NaN
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",f,35.0,1,0,113803,53.100,C123,S,1877.0,2.0
5,0,3,"Allen, Mr. William Henry",m,35.0,0,0,373450,8.050,NaN,S,1877.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",m,27.0,0,0,211536,13.000,NaN,S,1885.0,NaN
888,1,1,"Graham, Miss. Margaret Edith",f,19.0,0,0,112053,30.000,B42,S,1893.0,1.0
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",f,NaN,1,2,W./C. 6607,23.450,NaN,S,NaN,NaN
890,1,1,"Behr, Mr. Karl Howell",m,26.0,0,0,111369,30.000,C148,C,1886.0,1.0
891,0,3,"Dooley, Mr. Patrick",m,32.0,0,0,370376,7.750,NaN,Q,1880.0,NaN

13.Поменяйте местами нулевую по порядку строку с элементом с индексом 1.

In [ ]:
data.iloc[0]

survived                                                     1
pclass                                                       1
name         Cumings, Mrs. John Bradley (Florence Briggs Th...
sex                                                          f
age                                                       38.0
sibsp                                                        1
parch                                                        0
ticket                                                PC 17599
fare                                                   71.2833
cabin                                                      C85
embarked                                                     C
birthyear                                               1874.0
companion                                                  1.0
Name: 552, dtype: object

In [ ]:
data.loc[1]

survived                           0
pclass                             3
name         Braund, Mr. Owen Harris
sex                                m
age                             22.0
sibsp                              1
parch                              0
ticket                     A/5 21171
fare                            7.25
cabin                            NaN
embarked                           S
birthyear                     1890.0
companion                        NaN
Name: 1, dtype: object

In [ ]:
tmp=data.iloc[0]
data.iloc[0]=data.loc[1]
data.loc[1]=tmp
data.iloc[0]

survived                           0
pclass                             3
name         Braund, Mr. Owen Harris
sex                                m
age                             22.0
sibsp                              1
parch                              0
ticket                     A/5 21171
fare                            7.25
cabin                            NaN
embarked                           S
birthyear                     1890.0
companion                        NaN
Name: 552, dtype: object

In [ ]:
data.loc[1]

survived                                                     1
pclass                                                       1
name         Cumings, Mrs. John Bradley (Florence Briggs Th...
sex                                                          f
age                                                       38.0
sibsp                                                        1
parch                                                        0
ticket                                                PC 17599
fare                                                   71.2833
cabin                                                      C85
embarked                                                     C
birthyear                                               1874.0
companion                                                  1.0
Name: 1, dtype: object

14.Запишите получившийся датафрейм в csv файл (to_csv).

In [ ]:
data.to_csv('solution14.csv',sep=';')

15.Отобразите топ-10 людей, которые больше остальных заплатили за билет.

За цену билета отвечает столбец fare, поэтому будем сортировать по нему

In [ ]:
data.sort_values(by='fare', ascending=False).head(10) #ascending=False - упорядочиваем в порядке от наибольшего к наименьшему. Если поставить True - то наоборот

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,birthyear,companion
passengerid,,,,,,,,,,,,,
738,1,1,"Lesurer, Mr. Gustave J",m,35.0,0,0,PC 17755,512.3292,B101,C,1877.0,1.0
259,1,1,"Ward, Miss. Anna",f,35.0,0,0,PC 17755,512.3292,NaN,C,1877.0,NaN
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",m,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,1876.0,2.0
89,1,1,"Fortune, Miss. Mabel Helen",f,23.0,3,2,19950,263.0000,C23 C25 C27,S,1889.0,4.0
342,1,1,"Fortune, Miss. Alice Elizabeth",f,24.0,3,2,19950,263.0000,C23 C25 C27,S,1888.0,4.0
439,0,1,"Fortune, Mr. Mark",m,64.0,1,4,19950,263.0000,C23 C25 C27,S,1848.0,4.0
28,0,1,"Fortune, Mr. Charles Alexander",m,19.0,3,2,19950,263.0000,C23 C25 C27,S,1893.0,4.0
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",f,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1891.0,2.0
312,1,1,"Ryerson, Miss. Emily Borie",f,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,1894.0,2.0
119,0,1,"Baxter, Mr. Quigg Edmond",m,24.0,0,1,PC 17558,247.5208,B58 B60,C,1888.0,2.0

16.Отобразите сколько женщин и мужчин выжило/не выжило.

In [ ]:
print(f"Количество людей на корабле: {data.shape[0]}")

Количество людей на корабле: 891

In [ ]:
print(f"Количество выживших на корабле: {data[data['survived']==1].shape[0]}") #среди всех строк учитываем только те, у которых в столбце survived значение равняется 1

Количество выживших на корабле: 342

In [ ]:
print(f"На корабле выжило {data[(data['survived']==1) & (data['sex']=='m')].shape[0]} мужчин") #среди всех строк учитываем только те, у которых выполняются условия survived = 1, sex = m
print(f"На корабле не выжило {data[(data['survived']==0) & (data['sex']=='m')].shape[0]} мужчин")

print(f"На корабле выжило {data[(data['survived']==1) & (data['sex']=='f')].shape[0]} женщин" )
print(f"На корабле не выжило {data[(data['survived']==0) & (data['sex']=='f')].shape[0]} женщин")

На корабле выжило 109 мужчин
На корабле не выжило 468 мужчин
На корабле выжило 233 женщин
На корабле не выжило 81 женщин

17.Отобразите сколько в каком классе пассажиров выжило/не выжило.

За класс отвечает столбец pclass. Будем сортировать по нему.

In [ ]:
# посчитаем количество выживших людей в каждом классе (заодно узнаем количество классов)
df_class = data.groupby('pclass')['survived'].count()
df_class

pclass
1    216
2    184
3    491
Name: survived, dtype: int64

In [ ]:
print(f"В первом классе выжило {data[(data['survived']==1) & (data['pclass']==1)].shape[0]} пассажиров")
print(f"В первом классе не выжило {data[(data['survived']==0) & (data['pclass']==1)].shape[0]} пассажиров")
print()
print(f"Во втором классе выжило {data[(data['survived']==1) & (data['pclass']==2)].shape[0]} пассажиров")
print(f"Во втором классе не выжило {data[(data['survived']==0) & (data['pclass']==2)].shape[0]} пассажиров")
print()
print(f"В третьем классе выжило {data[(data['survived']==1) & (data['pclass']==3)].shape[0]} пассажиров")
print(f"В третьем классе не выжило {data[(data['survived']==0) & (data['pclass']==3)].shape[0]} пассажиров")

В первом классе выжило 136 пассажиров
В первом классе не выжило 80 пассажиров

Во втором классе выжило 87 пассажиров
Во втором классе не выжило 97 пассажиров

В третьем классе выжило 119 пассажиров
В третьем классе не выжило 372 пассажиров